.click-cell:hover {
    background-color: #9f9f9f;
    cursor: pointer;
}

.click-cell {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

#toppingsDialog {
    display: none;
}

#commentDialog {
    display: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.chose-pizza {
    font-size: 80%;
}

body {
    background-color: #ffdeaa;
    /*text-shadow: 1px 1px #ffffff;
    color: white;*/
}

.table td, .table th {
    border-color: #a94442 !important;
}



