{% extends "base.html" %}
{% load mathfilters %}
{% load humanize %}

{% block headscript %}
<script>
    $(document).ready(function () {
        refreshCart();
    })
</script>
{% endblock %}

{% block main %}
<div class="content">
    {% csrf_token %}
    <section id="menu">
        <h1>MENU</h1>
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Pizza</th>
                    <th>Składniki</th>
                    <th>Mała</th>
                    <th>Średnia</th>
                    <th>Duża</th>
                </tr>
                </thead>
                <tbody>
                {% for pizza in pizzas %}
                <tr id="{{pizza.pizza_name}}">
                    <td>{{ pizza.pizza_name }}</td>
                    <td class="topping-list">
                        {% for topping in pizza.toppings.all %}
                        {{ topping.name }}{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    </td>
                    <td onclick="addSmall('{{pizza.pizza_name}}')">{{ pizza.price|mul:0.75|floatformat:2 }}</td>
                    <td onclick="addNormal('{{pizza.pizza_name}}')">{{ pizza.price }}</td>
                    <td onclick="addBig('{{pizza.pizza_name}}')">{{ pizza.price|mul:1.25|floatformat:2 }}</td>
                </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </section>
</div>

<!-- Okno dialogowe wyboru dodatków -->
<div style="display:none;" id="toppingsDialog" title="Wybierz dodatki">
    <table class="table">
        {% for topping in toppings %}
        <tr>
            <td class="topping-name">{{topping.name}}</td>
            <td>0</td>
            <td onclick="addTopping(this)">+</td>
            <td onclick="removeTopping(this)">-</td>
        </tr>
        {% endfor %}
    </table>
    <input type="button" value="Dodaj do koszyka" onclick="addToCart();">
</div>
{% endblock %}

<!-- Okno koszyka -->
{% block cart %}
<div class="table-responsive" style="position:fixed; margin-top: 70px;">
    <table id="cart" class="table">
        <thead>
        <tr>
            <th>Pizza</th>
            <th>Wielkość</th>
            <th>Cena</th>
        </tr>
        </thead>
        <tbody></tbody>

    </table>
    Razem: <span id="total-price"></span><br/>
    <a href="/place_order">Zamawiam</a>
    <input type="button" value="Wyczyść koszyk" onclick="clearCart();">
</div>
{% endblock %}