{% extends "base.html" %}
{% load mathfilters %}
{% load humanize %}

{% block headscript %}
<script>
    $(document).ready(function () {
        refreshCart();
    })
</script>
{% endblock %}

{% block main %}
<div class="content">
    {% csrf_token %}
    <section id="menu">
        <h1 class="text-danger">MENU</h1>
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Pizza</th>
                    <th>Składniki</th>
                    <th class="text-center">Mała</th>
                    <th class="text-center">Średnia</th>
                    <th class="text-center">Duża</th>
                </tr>
                </thead>
                <tbody>
                {% for pizza in pizzas %}
                <tr id="{{pizza.pizza_name}}">
                    <td>{{ pizza.pizza_name }}</td>
                    <td class="topping-list">
                        {% for topping in pizza.toppings.all %}
                        {{ topping.name }}{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    </td>
                    <td class="click-cell text-center" onclick="addSmall('{{pizza.pizza_name}}')">{{ pizza.price|mul:0.75|floatformat:2 }}
                        <br/><a class="chose-pizza">(wybierz.)</a>
                    </td>
                    <td class="click-cell text-center" onclick="addNormal('{{pizza.pizza_name}}')">{{ pizza.price }}
                        <br/><a class="chose-pizza">(wybierz..)</a>
                    </td>
                    <td class="click-cell text-center" onclick="addBig('{{pizza.pizza_name}}')">{{ pizza.price|mul:1.25|floatformat:2 }}
                        <br/><a class="chose-pizza">(wybierz...)</a>
                    </td>
                </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </section>
</div>

<!-- Okno dialogowe wyboru dodatków -->
<div id="toppingsDialog" title="Wybierz dodatki">
    <table class="table">
        {% for topping in toppings %}
        <tr>
            <td class="topping-name">{{topping.name}}</td>
            <td>0</td>
            <td class="click-cell text-center" onclick="addTopping(this)">+</td>
            <td class="click-cell text-center" onclick="removeTopping(this)">-</td>
        </tr>
        {% endfor %}
    </table>
    <input type="button" class="btn btn-danger" value="Dodaj do koszyka" onclick="addToCart();">
</div>
{% endblock %}

<!-- Okno koszyka -->
{% block cart %}
<div class="table-responsive col-md-3" style="position:fixed; margin-top: 70px;">
    <table id="cart" class="table">
        <thead>
        <tr>
            <th>Pizza</th>
            <th>Wielkość</th>
            <th>Cena</th>
        </tr>
        </thead>
        <tbody></tbody>

    </table>
    <p class="text-danger">Razem: <span id="total-price">0 zł</span></p>
    <a id="place-order-link" class="btn btn-success disabled" href="/place_order">Zamawiam</a>
    <input id="clear-cart-button" class="btn btn-xs btn-primary disabled" type="button" value="Wyczyść koszyk" onclick="clearCart();">
</div>
{% endblock %}