{% extends "index.html" %}

{% block main %}
    <div class="content">
        <section id="menu">
            <h1>MENU</h1>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Pizza</th>
                        <th>Składniki</th>
                        <th>Mała</th>
                        <th>Średnia</th>
                        <th>Duża</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </section>
    </div>
{% endblock %}